*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span svg{
    color: orange;
}

.header-one{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2A2C38;
    padding-right: 115px;
}

.icon-text{
    color: white;
    font-size: 17px;
    padding: 21px;
    gap: 8px;
    display: flex;
    align-items: center;
}